<form class="form__crear" action="" novalidate>
  <h2 class="form__title">Categorías</h2>
  <div class="form__inputs">
    <label for="nombre" >Nombre</label>
    <input type="text" name="nombre" placeholder="Ingrese nombre">
  </div>
  <div class="">
    <label for="descripcion">Descripción</label>
    <input type="text"name="descripcion" placeholder="Ingrese descripción">
  </div>
  <div>
    <button type="submit" class="button">Guardar</button>
  </div>
  <script type="module" src="./formularioController.js"></script>
</form>
