*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}


.header {
  width: 100%;
  height: 18vh;
  background-color:#BFB9CF ;
}

.header__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
 
  align-items: center;
  
}
.header__logo{
  width: 16%;
  margin: 1vw;
  position: relative;
  overflow: hidden;
 
}
.header__logo-img {
  width: 60%;
  border-radius: 50%;
  position: relative;
  transition: left 0.3s ease, top 0.3s ease;
  left: 0;
  top: 0;
}

.header__nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

/* Menú de navegación */
.header__menu,.header__auth{
  display: flex;
  gap: 4vw;
  width: 20vw;
  font-size: 25px;
}

li{
  list-style: none;
}
.header__menu-link,
.header__auth-link {
  color: #000;
  text-decoration: none;
  width: 100%;
  padding: 1vw;
  border-radius: 50px;
 
}
.header__menu-link:hover,
.header__auth-link:hover {
  background-color: #f2f2;
  transition: 1s;
}
.header__logo:hover .header__logo-img {
  left: 20px; 
  bottom: -10px; 
}

/* tablita-estilos*/
.caja-tabla {
  margin-top: 20px;
  padding: 15px;
  background-color: #fefefe;
  border-radius: 20%;
  width: 50%;
  margin: 0 auto;
  
}

.mi-tabla {
  width: 100%;
  border-collapse: collapse;
}

.celda-header {
  background-color: #f2f2b6;
  color: white;
  padding: 10px;
  border: 1px solid;
}

.celda-data {
  padding: 8px;
  border: 1px solid #ddd;
}

.fila-data {
  background-color: #f2f2f2;
  
}
.button{
  width: 3vw;
  height: 1vw;
  background-color: #BFB9CF;
  padding: 2px;
  display: flex;
  text-align: center;
  border-radius: 20px;
  border: none;
}
.form__crear {
  max-width: 400px;
  margin: 50px auto; /* centra */
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.form__title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form__inputs{

}
.button {
  width: 100%;
  padding: 12px;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form__crear button:hover {
  background-color: #45a049;
  color: #000;
}
